stellar-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
  min-height: 1000px;
  max-height: 800px;
  border: 1px solid #000;
  overflow: hidden;
}

stellar-chart svg {
  width: 100%;
  border: 1px solid red;
}
